.carouselTextBlackContent {
    background-image: linear-gradient(to bottom, rgba(256, 256, 256, 0) 0%, rgba(256, 256, 256, .3) 10%, rgba(256, 256, 256, .6) 50%, rgba(256, 256, 256, .5) 75%, rgba(256, 256, 256, 0) 100%);
    text-align: left!important;
    padding-left: 100px;
}

.carouselTextBlackContent * {
    text-align: left!important;
}

.carouselTextBlack {
    color: #000!important;
}

.indexExpertise {
    font-size: 26px;
    text-transform: uppercase;
    font-family: Montserrat-Medium;
}

.letUsTalk {
    padding: 35px 0;
    background-color: #f6f6f6;
}

.letUsTalkFirstDIv::after {
    content: "";
    background-color: #00A0E3;
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0%;
    left: 100%;
    display: block;
}

.letsTalkHeader {
    font-weight: 700;
    height: 110px;
    font-family: FuturaPT-Bold;
    font-size: 86px;
    line-height: 110px;
    letter-spacing: 1.72px;
    color: #00A0E3;
    text-transform: uppercase;
    opacity: 1;
}

.contactUsLink {
    background-color: #00a4e3;
    width: 40%;
    border-radius: 30px;
    color: #ffffff !important;
    padding: 5px 7px;
    letter-spacing: 0.56px;
    font-family: FuturaPT-Book;
    font-size: 28px;
    font-weight: lighter;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width:1824px) {
    .main-slider .tp-caption-1 .simple-title {
        margin-top: 100px;
        line-height: 70px;
    }
    .main-slider .tp-caption-2 .simple-title {
        font-size: 60px;
    }
    .main-slider .tp-caption-4 .simple-title {
        font-size: 60px;
    }
}

@media screen and (max-width:1366px) {
    .main-slider .tp-caption-1 .simple-title {
        line-height: 60px;
    }
    .section-width .container {
        width: 75%;
    }
}

@media screen and (max-width:1200px) {}

@media screen and (max-width:1199px) {}

@media screen and (max-width:1024px) {
    .tab1-bg {
        background: url("../images/adm.jpg") left 0px no-repeat!important;
    }
    .right-side,
    .left-side {
        padding: 30px 0px 100px 150px;
    }
}

@media screen and (max-width:992px) {}

@media screen and (max-width:800px) {}

@media screen and (max-width:768px) {
    .page-content {
        padding: 50px 0;
    }
    .main-slider {
        margin-top: 80px;
    }
    .main-slider .tp-caption-1 .simple-title {
        font-size: 46px;
        margin-top: 10px;
        line-height: 55px;
    }
    .main-slider .tp-caption-2 .simple-title {
        font-size: 50px;
    }
    .main-slider .tp-caption-4 .simple-title {
        font-size: 50px;
    }
    .tab1-bg {
        background: url("../images/adm.jpg") left 0px no-repeat!important;
    }
    .section-width .container {
        width: 100%;
    }
}

@media screen and (max-width:767px) {}

@media screen and (max-width:600px) {
    .main-slider {
        margin-top: 80px;
    }
    .main-slider .tp-caption-1 .simple-title {
        font-size: 60px;
        margin-top: 120px;
        line-height: 70px;
    }
    .main-slider .tp-caption-2 .simple-title {
        font-size: 60px;
    }
    .main-slider .tp-caption-4 .simple-title {
        font-size: 60px;
    }
}

@media screen and (max-width:480px) {
    .page-content {
        padding: 50px 0;
    }
    .main-slider {
        margin-top: 87px;
    }
    .forcefullwidth_wrapper_tp_banner {
        height: 175px;
    }
    .tp-banner-container {
        height: 175px;
    }
    .tp-simpleresponsive {
        max-height: 500px;
        height: 175px !important;
        background-image: none;
        background-color: rgba(0, 0, 0, 0);
    }
    .main-slider .tp-caption-1 .simple-title {
        font-size: 60px;
        margin-top: 120px;
        line-height: 70px;
    }
    .main-slider .tp-caption-2 .simple-title {
        font-size: 60px;
    }
    .main-slider .tp-caption-4 .simple-title {
        font-size: 60px;
    }
    .section-width .container {
        width: 100%;
    }
}


/* Here It Is Media Query For New Home Page */

@media(max-width: 575px) {
    .logo {
        width: 11rem;
        margin-top: -10px;
        margin-left: -20px;
    }
    .title {
        /* font-size: 25px; */
        line-height: 40px;
    }
    .subtitle {
        font-size: 25px;
        margin-top: -2rem;
        line-height: 63px;
    }
    .subtitle-bold {
        font-size: 30px;
        line-height: 12px;
    }
    #myCarousel .tp-bullets .bullet {
        border-color: #333333 !important;
        margin: 0px 0px;
        background: #333333 !important;
        width: 2px !important;
        height: 2px !important;
        border: 3px solid rgba(0, 0, 0, 0)!important;
    }
    #myCarousel .tp-bullets {
        top: 97%;
    }
    .know-more-button {
        width: 200px;
        height: 40px;
    }
    .know-more-button a {
        line-height: 37px;
        padding-left: 3px;
        font-size: 17px;
    }
    .know-more-button a img {
        margin-left: 0px;
        line-height: 10px;
        width: 20px;
        height: 20px;
    }
    .carousel-indicators {
        top: 0rem;
    }
    /* PGCS */
    .carousel_mobile {
        height: 64vh;
    }
    .carousel_mobile #myCarousel,
    .carousel_mobile .carousel-inner,
    .carousel_mobile .carousel-item {
        height: 100%;
    }
    .carousel-item {
        margin-top: 1rem!important;
        background-size: 100% 100%!important;
        position: relative;
    }
    [class ^="content"] {
        position: absolute!important;
        top: 50%!important;
        left: 50%!important;
        transform: translate(-50%, -50%);
        bottom: auto!important;
        text-align: center;
    }
    [class ^="content"] * {
        text-align: center!important;
    }
    [class ^="content"] div {
        margin: 0 auto!important;
    }
    [class ^="content"] .subtitle-bold {
        line-height: 30px!important;
    }
    .carousel-control-prev {
        left: 0!important;
        opacity: 1!important;
    }
    .carousel-control-next {
        right: 0!important;
        opacity: 1!important;
    }
    .carousel-control-prev img {
        top: 30.5%!important;
        left: -15%!important;
        width: 20px;
        height: 20px;
    }
    .carousel-control-next img {
        top: 33%!important;
        right: -15%!important;
        width: 20px;
        height: 20px;
        opacity: 1!important;
    }
    #carouselExampleIndicators {
        position: relative!important;
    }
    #carousel-indicators {
        position: absolute!important;
        /* top: auto!important; */
        bottom: 0!important;
        top: 87%;
    }
    .carouselTextBlackContent {
        text-align: center!important;
        padding-left: 0!important;
    }
    .carouselTextBlackContent * {
        text-align: center!important;
    }
    /* PGCE */
    #carouselExampleIndicators .serv-portfolio img {
        padding: 0px;
        width: 100%;
        height: 100%;
    }
    .letsTalkHeader {
        font-size: 54px;
    }
    .letUsTalkFirstDIv::after {
        content: "";
        background-color: #00A0E3;
        position: absolute;
        width: 79%;
        height: 2px;
        top: 85%;
        left: 11%;
        display: block;
    }
    .letUsTalk {
        height: 280px;
    }
    .contactUsLink {
        width: 45%;
        padding: 5px 7px;
        font-size: 22px;
        transform: translate(-50%, 30%)!important;
    }
    .expertise img,
    .expertise2 img {
        margin-left: 1rem;
    }
    .expertise img,
    .expertise2 img,
    .expertise3 img {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .expertise3 img {
        margin-left: 0rem;
        margin-top: 0rem;
    }

    .expertise img{

        margin-top: -4rem;
    }

    .cv-text,.nlp-text {
        margin-top: -50px;
        padding-top: 0;
    }
    .rpa-text {
        padding-top: 0rem;
        margin-top: -10rem;
    }
    .nlp-text {
        padding-top: 0rem;
        margin-top: -100px;
    }
    .rpa_bg,
    .cv_bg,
    .nlp_bg {
        background-size: 100% 100%;
        background-position: center center;
        margin-left: 0;
    }
    .nlp-text h2 {
        margin-top: 6rem;
    }
    .rpa-text h2 {
        margin-top: 6rem;
    }
    .cv-text h2 {
        margin-top: 6rem;
        margin-left: 0rem;
    }
    .MobileViewPadding {
        padding-top: 3rem;
    }
    #our-experise h2 {
        text-align: center;
        font-size: 24px;
    }
    #our-experise p {
        margin-left: 0rem;
        text-align: justify;
        margin-right: 0rem;
        font-size: 15px;
    }
    .cvpositionText {
        order: 2;
    }
    .cvpositionImage {
        order: 1;
    }
    [class ^="ai-text"] {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        padding-top: 5rem;
        height: 300px;
    }
    .ai-text h2 {
        text-align: center;
        font-size: 23px;
    }
    .ai-text p {
        text-align: center;
        line-height: 20px;
        font-size: 16px;
    }
    #carouselExampleIndicators .serv-portfolio {
        padding: 65px;
        margin-top: -3rem;
        padding-left: -1%;
    }
    .ai_bg_ai {
        background-position: center center;
        margin-left: 0;
        margin-top: 4rem;
        background-size: 66%;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
    }
    .ai_bg_pl {
        background-position: center center;
        margin-left: 0;
        margin-top: 4rem;
        background-size: 66%;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
    }
    .ai_bg_rpa {
        background-position: center center;
        margin-left: 0;
        margin-top: 4rem;
        background-size: 66%;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
    }
    .ai_bg-dev {
        background-position: center center;
        margin-left: 0;
        margin-top: 4rem;
        background-size: 66%;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
    }
    .ai_bg-ui-ux {
        background-position: center center;
        margin-left: 0;
        margin-top: 4rem;
        background-size: 66%;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
    }
    .ai_bg_ai_ml {
        background-position: center center;
        margin-left: 0;
        margin-top: 4rem;
        background-size: 66%;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
    }
    .logo-brand img {
        margin-left: -9px;
        width: 168px;
        margin-top: -3rem;
    }
    .tt-nav .light-header {
        height: 55px;
    }
    .menuzord-responsive .showhide {
        margin: 11px 0px 0 0;
    }
    #carousel-indicators .btn {
        padding-left: 10px;
        padding-right: 10px;
    }
    .about_bg {
        background-size: 100% 100%;
    }
    /* home page */
    #form {
        margin-left: 0%;
        width: 85%;
    }
    .primary-footer .copyright {
        margin-top: 15px;
    }
    #tb-scroll-to-top {
        bottom: 66px;
    }


    .PartnerComman {

        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .PartnerComman img{

        margin-bottom: 30px !important;
    }

    .contact1_bg{

        margin-top: 50px;
    }

    .contact .info-box i {
        font-size: 25px;
        padding: 15px;
    }

    .text-right{

        margin-bottom: 25px;
    }
    
    
}


/* media query end for width 575px for mobiles */


/* media query for min 576px to 767px is here */

@media (min-width: 576px) and (max-width: 767.98px) {
    #tb-scroll-to-top {
        bottom: 35px;
    }
    .bd-example .carousel-item {
        height: 60vh;
    }
    .primary-footer .copyright {
        margin-top: 15px;
    }
    [class ^="content1"] {
        position: absolute!important;
        top: 50%!important;
        left: 50%!important;
        transform: translate(-50%, -50%);
        bottom: auto!important;
        text-align: center;
    }
    #myCarousel .carousel-control-prev img {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 3rem;
        top: 50%;
    }
    #myCarousel .carousel-control-next img {
        width: 30px;
        height: 30px;
        position: absolute;
        margin-left: 0rem;
        top: 50%;
    }
    .MobileViewPadding {
        padding-top: 3rem;
    }
    #our-experise h2,
    #our-experise p {
        text-align: center;
    }
    .cv_bg {
        background-position: center center;
        background-size: 100% 100%;
        margin-top: -4rem;
        margin-bottom: 40px;
    }
    .nlp_bg {
        background-position: center center;
        background-size: 100% 100%;
        margin-bottom: 40px;
    }
    .rpa_bg {
        background-position: top 50% left 0%;
        background-size: 100% 100%;
        margin-top: -1rem;
    }
    .service {
        padding-top: 0px;
    }
    #services {
        padding-left: 10px;
        padding-right: 10px;
    }
    #carouselExampleIndicators .serv-portfolio img {
        margin-left: 1rem;
        margin-top: 3rem;
    }
    #carouselExampleIndicators img {
        padding: 0px;
    }
    .about_para {
        margin: 0px;
    }
    .ai_bg_ai {
        margin-left: 0rem;
        margin-top: 0rem;
        background-size: 100% 100%;
        width: 100%;
        text-align: center;
    }
    .ai_bg_pl {
        margin-left: 12rem;
        margin-top: -7rem;
        background-size: 100% 100%;
        background-position: top 40% left 0%;
        width: 100%;
        text-align: center;
    }
    .ai_bg_rpa {
        margin-left: 11rem;
        margin-top: -7rem;
        background-size: 100% 100%;
        background-position: top 40% left 0%;
        width: 100%;
        text-align: center;
    }
    .ai_bg-dev {
        margin-left: 12rem;
        margin-top: -7rem;
        background-size: 100% 100%;
        background-position: top 30% left 0%;
        width: 100%;
        text-align: center;
    }
    .ai_bg-ui-ux {
        margin-left: 12rem;
        margin-top: -7rem;
        background-size: 100% 100%;
        background-position: top 45% left 0%;
        width: 100%;
        text-align: center;
    }
    .ai_bg_ai_ml {
        margin-left: 12rem;
        margin-top: -7rem;
        background-size: 100% 100%;
        background-position: top 50% left 0%;
        width: 100%;
        text-align: center;
    }
    [class ^="ai-text"] {
        padding-left: 0rem;
        padding-right: 0rem;
        margin: 0 auto!important;
        padding-top: 0rem;
    }
    #carousel-indicators {
        top: 93%;
    }
    .about_bg {
        background-size: 96%;
    }
    #form {
        margin-left: 0%;
        width: 60%;
    }
    #footer .form-control,
    .input-group-btn {
        /* margin-top: -15px; */
        margin-bottom: 20px;
    }
    #myCarousel .tp-bullets .bullet {
        width: 2px !important;
        height: 2px !important;
        display: inline-block;
        opacity: 1;
        border: 5px solid rgba(0, 0, 0, 0)!important;
        margin: 0px;
    }
    .title {
        font-size: 35px;
        line-height: 30px;
        height: 50px;
    }
    .subtitle {
        line-height: 90px;
    }
    .subtitle-bold {
        line-height: 40px;
    }
    .know-more-button {
        margin-top: 0;
    }
    .cvpositionText {
        order: 2;
    }
    .cvpositionImage {
        order: 1;
    }
    /* PGCS */
    .contactUsLink {
        width: 45%;
        padding: 5px 7px;
        font-size: 22px;
        transform: translate(-50%, 52%)!important;
    }
    .letUsTalkFirstDIv::after {
        content: "";
        background-color: #00A0E3;
        position: absolute;
        width: 79%;
        height: 2px;
        top: 85%;
        left: 11%;
        display: block;
    }
    .letUsTalk {
        height: 300px;
    }
    /* PGCE */

    .contact1_bg{

        margin-top: 50px;
    }

    .contact .info-box i {
        font-size: 25px;
        padding: 15px;
    }
}

@media (min-width:768px) and (max-width:991.98px) {
    #tb-scroll-to-top {
        bottom: 35px;
    }
    #form {
        margin-left: 0%;
        width: 60%;
    }
    .primary-footer .copyright {
        margin-top: 15px;
    }
    .bd-example .carousel-item {
        height: 70vh;
    }
    .carousel-inner #carousel_item_first {
        /* margin-top:4rem; */
        max-width: 100%;
        background-size: 100%;
    }
    .carousel-inner #carousel_item_all {
        /* margin-top: 4rem; */
        max-width: 100%;
        background-size: 100%;
    }
    .carousel-item .content1 {
        top: 22%;
    }
    #myCarousel .tp-bullets .bullet {
        margin-right: -3px!important;
    }
    .title {
        font-size: 37px;
        line-height: 40px;
    }
    .subtitle-bold {
        line-height: 40px;
    }
    .know-more-button {
        margin-top: 1rem;
    }
    .expertise img,
    .expertise2 img .expertise3 img {
        margin-left: -1rem;
        width: 100%;
        height: 100%;
    }
    #our-experise h2 {
        font-size: 26px;
        margin-top: 5rem;
    }
    #our-experise p {
        margin-right: 0rem;
        font-size: 15px;
        text-align: justify;
    }
    .rpa_bg,
    .cv_bg,
    .nlp_bg {
        background-size: 100%;
        margin-top: 0;
    }
    .expertise2 img {
        margin-left: 0rem;
    }
    .expertise3 img {
        margin-left: 2rem;
        width: 100%;
        height: 100%;
    }
    .ai-text {
        padding-top: 2rem;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .ai-text h2 {
        height: 30px;
    }
    .ai_bg_ai {
        background-size: 100%;
        background-position: top 20% left 30%;
        margin-left: -2rem;
    }
    .ai_bg_pl {
        background-size: 100%;
        background-position: top 30% left 0%;
        margin-top: 0rem;
        margin-left: -2rem;
    }
    .ai_bg_rpa {
        background-size: 100%;
        background-position: top 10% left 0%;
        margin-left: -2rem;
    }
    .ai_bg-dev {
        background-size: 100%;
        background-position: top 30% left 0%;
        margin-left: -2rem;
    }
    .ai_bg-ui-ux {
        background-size: 100%;
        background-position: top 30% left 0%;
        margin-left: -2rem;
    }
    .ai_bg_ai_ml {
        background-size: 100%;
        background-position: top 50% left 0%;
        margin-left: -2rem;
    }
    #carousel-indicators .btn {
        padding-left: 6px;
        padding-right: 6px;
        font-size: 11px;
    }
    .about_bg {
        background-size: 94%;
    }
    .about_para {
        font-size: 15px;
        margin: 0 30px;
        text-align: justify!important;
        text-align-last: center;
    }
    #carouselExampleIndicators img {
        padding: 20px;
        margin-top: 1rem;
    }
    .MobileViewPadding {
        padding-top: 2rem;
    }
    .letsTalkHeader {
        font-size: 60px;
    }
    /* PGCS */
    .contactUsLink {
        width: 45%;
        padding: 5px 7px;
        font-size: 22px;
    }
    /* PGCE */

    .contact1_bg{

        margin-top: 60px;
    }

    .contact .info-box i {
        font-size: 18px;
        padding: 8px;
    }

    .text-right{

        margin-bottom: 25px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #form {
        margin-left: 0%;
        width: 60%;
    }
    .carousel-control-next {
        right: 0rem !important;
        width: 3% !important;
    }
    .carousel-control-prev {
        right: 0rem !important;
        width: 3% !important;
    }
    .tt-nav .logo-brand img {
        margin-left: -2rem;
    }
    .expertise img {
        margin-left: -1rem;
    }
    .expertise3 img {
        margin-left: 2rem;
    }
    .service {
        padding-top: 2rem;
    }
    .ai_bg_ai {
        background-size: 95%;
        background-position: top 70% left 0%;
    }
    .ai_bg_pl {
        background-size: 100%;
        background-position: top 79% left 0%;
    }
    .ai_bg_rpa {
        background-size: 100%;
        background-position: top 54% left 0%;
    }
    .ai_bg-dev {
        background-position: top 53% left 0%;
        background-size: 96%;
    }
    .ai_bg-ui-ux {
        background-size: 100%;
        background-position: top 71% left 0%;
    }
    .ai_bg_ai_ml {
        background-size: 100%;
        background-position: top 83% left 0%;
    }
    .ai-text h2 {
        height: 20px;
        margin-top: -4rem;
    }
    .ai-text {
        margin-top: 6rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0rem;
        padding-left: 1rem;
    }
    .service_bg {
        background: #EBEBEB 0% 0% no-repeat padding-box;
        border-radius: 10px;
    }
    .expertise2 img {
        margin-left: 1rem;
    }
    #carousel-indicators .btn {
        padding-left: 15px;
        padding-right: 15px;
    }
    .about_bg {
        background-size: 94%;
        background-position: top 45% left 0%;
    }
    .subtitle1 {
        line-height: 38px;
    }
    /* PGCS */
    .contactUsLink {
        width: 45%;
        padding: 5px 7px;
        font-size: 22px;
    }
    /* PGCE */
}

@media (min-width:1200px) and (max-width:2560px) {
    #form {
        margin-left: 0%;
        width: 60%;
    }
}


@media (min-width:315px) and (max-width: 380px){


    #services-slider {
        height: 38rem;
    }
}


@media (min-width:381px) and (max-width: 480px){


    #services-slider {
        height: 43rem;
    }
}